body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

/* .card{
  margin:1rem;
  padding:auto;
} */

.flip{
  width:10rem;
  height:10rem;
  margin:2rem;
}

.shadow-box{
  border:white .5rem solid;
  padding:0px;
  background-color:blue;
}

